Repository kaspanet/kaspad, pull requests merged in 2021-03, with the labels that each got.

#1524 Cleanup the logger and make it asynchronous
  app/app.go
  app/log.go
  app/protocol/flowcontext/log.go
  app/protocol/flows/blockrelay/log.go
  app/protocol/flows/handshake/log.go
  app/protocol/log.go
  app/protocol/peer/log.go
  app/rpc/log.go
  app/rpc/rpccontext/log.go
  app/rpc/rpchandlers/log.go
  cmd/kaspaminer/log.go
  cmd/kaspaminer/main.go
  domain/consensus/log.go
  domain/consensus/processes/blockbuilder/log.go
  domain/consensus/processes/blockprocessor/blocklogger/log.go
  domain/consensus/processes/blockprocessor/log.go
  domain/consensus/processes/blockvalidator/log.go
  domain/consensus/processes/consensusstatemanager/log.go
  domain/consensus/processes/finalitymanager/log.go
  domain/consensus/processes/pruningmanager/log.go
  domain/consensus/processes/reachabilitymanager/log.go
  domain/consensus/processes/reachabilitymanager/main_test.go
  domain/consensus/processes/reachabilitymanager/reachability_stretch_test.go
  domain/consensus/processes/syncmanager/log.go
  domain/consensus/utils/txscript/log.go
  domain/consensus/utils/txscript/main_test.go
  domain/miningmanager/blocktemplatebuilder/log.go
  domain/miningmanager/mempool/log.go
  domain/miningmanager/mempool/mempool.go
  domain/utxoindex/log.go
  infrastructure/config/log.go
  infrastructure/db/database/ldb/log.go
  infrastructure/logger/backend.go
  infrastructure/logger/level.go
  infrastructure/logger/logger.go
  infrastructure/logger/logs.go
  infrastructure/logger/utils.go
  infrastructure/network/addressmanager/log.go
  infrastructure/network/connmanager/log.go
  infrastructure/network/dnsseed/log.go
  infrastructure/network/netadapter/log.go
  infrastructure/network/netadapter/server/grpcserver/log.go
  infrastructure/network/netadapter/standalone/log.go
  infrastructure/network/rpcclient/grpcclient/log.go
  infrastructure/network/rpcclient/log.go
  infrastructure/os/signal/log.go
  infrastructure/os/winservice/log.go
  log.go
  testing/integration/log_test.go
  testing/integration/main_test.go
  util/locks/log.go
  util/panics/log.go
Labels: logs, optimization

#1562 Stop logging an error whenever an RPC/P2P connection is canceled
  infrastructure/network/netadapter/server/grpcserver/grpc_connection.go
  util/panics/panics.go
Labels: logs

#1563 Fix headers flow name (was accidentally called reuquest blocks flow instead of headers)
  app/protocol/flows/blockrelay/handle_request_headers.go
Labels: refactoring

#1566 Fix utxoindex deserialization
  domain/utxoindex/serialization.go
  domain/utxoindex/serialization_test.go
Labels: bug, utxoindex

#1574 Merge big subdags in pick virtual parents
  domain/consensus/model/interface_processes_dagtopologymanager.go
  domain/consensus/processes/consensusstatemanager/pick_virtual_parents.go
  domain/consensus/processes/dagtopologymanager/dagtopologymanager.go
  domain/consensus/processes/ghostdagmanager/ghostdag_test.go
Labels: consensus, performance

#1580 kaspaminer: User tickers and regulate each block individually
  cmd/kaspaminer/mineloop.go
Labels: bug, refactoring

#1583 Remove payload hash
  app/appmessage/domainconverters.go
  app/appmessage/p2p_msgtx.go
  app/appmessage/p2p_msgtx_test.go
  app/appmessage/rpc_get_block.go
  app/appmessage/rpc_submit_transaction.go
  app/rpc/rpccontext/verbosedata.go
  cmd/wallet/send.go
  domain/consensus/database/serialization/dbobjects.pb.go
  domain/consensus/database/serialization/dbobjects.proto
  domain/consensus/database/serialization/transaction.go
  domain/consensus/model/acceptancedata_equal_clone_test.go
  domain/consensus/model/externalapi/block_equal_clone_test.go
  domain/consensus/model/externalapi/transaction.go
  domain/consensus/model/externalapi/transaction_equal_clone_test.go
  domain/consensus/processes/blockbuilder/block_builder_test.go
  domain/consensus/processes/blockprocessor/validateandinsertblock_test.go
  domain/consensus/processes/blockvalidator/block_body_in_isolation_test.go
  domain/consensus/processes/coinbasemanager/coinbasemanager.go
  domain/consensus/processes/consensusstatemanager/resolve_block_status_test.go
  domain/consensus/processes/dagtraversalmanager/window_test.go
  domain/consensus/processes/pruningmanager/pruning_test.go
  domain/consensus/processes/transactionvalidator/transaction_in_isolation.go
  domain/consensus/processes/transactionvalidator/transaction_in_isolation_test.go
  domain/consensus/ruleerrors/rule_error.go
  domain/consensus/ruleerrors/rule_error_test.go
  domain/consensus/utils/consensushashing/transaction.go
  domain/consensus/utils/hashes/domains.go
  domain/consensus/utils/hashes/helpers.go
  domain/consensus/utils/transactionhelper/new.go
  domain/consensus/utils/txscript/script.go
  domain/dagconfig/genesis.go
  infrastructure/network/netadapter/server/grpcserver/protowire/p2p.pb.go
  infrastructure/network/netadapter/server/grpcserver/protowire/p2p.proto
  infrastructure/network/netadapter/server/grpcserver/protowire/p2p_transaction.go
  infrastructure/network/netadapter/server/grpcserver/protowire/rpc.md
  infrastructure/network/netadapter/server/grpcserver/protowire/rpc.pb.go
  infrastructure/network/netadapter/server/grpcserver/protowire/rpc.proto
  infrastructure/network/netadapter/server/grpcserver/protowire/rpc_get_block.go
  infrastructure/network/netadapter/server/grpcserver/protowire/rpc_submit_transaction.go
Labels: breaking-consensus, breaking-database

#1586 backport: Add a github action deploy script to build and publish releases
  .github/workflows/go-deploy.yml
Labels: CI, backport

#1585 Add a github action deploy script to build and publish releases
  .github/workflows/go-deploy.yml
Labels: CI

#1594 Delete the stability tests when doing code coverage
  .github/workflows/go.yml
Labels: CI, tests

#1592 Adjust the difficulty in the first difficultyAdjustmentWindowSize blocks
  domain/consensus/constructors.go
  domain/consensus/factory.go
  domain/consensus/processes/blockvalidator/block_body_in_context.go
  domain/consensus/processes/blockvalidator/block_body_in_context_test.go
  domain/consensus/processes/dagtraversalmanager/dagtraversalmanager.go
  domain/consensus/processes/dagtraversalmanager/window.go
  domain/consensus/processes/dagtraversalmanager/window_test.go
  domain/consensus/processes/difficultymanager/blockwindow.go
  domain/consensus/processes/difficultymanager/difficultymanager.go
  domain/consensus/processes/pastmediantimemanager/pastmediantimemanager.go
  domain/consensus/processes/pastmediantimemanager/pastmediantimemanager_test.go
  domain/consensus/processes/pruningmanager/pruning_test.go
  domain/consensus/processes/transactionvalidator/transactionvalidator_test.go
  domain/consensus/utils/sorters/timesorter.go
  util/math/min.go
Labels: breaking-consensus, breaking-database, consensus

#1595 Remove old constants and print actual grpc server address
  app/appmessage/p2p_msgblock.go
  infrastructure/network/netadapter/server/grpcserver/grpc_server.go
  infrastructure/network/netadapter/server/grpcserver/protowire/p2p_block.go
  infrastructure/network/netadapter/server/grpcserver/protowire/p2p_header.go
Labels: p2p

#1613 Restructure the default ~/.kaspad directory layout
  app/app.go
  infrastructure/config/config.go
  testing/integration/config_test.go
  testing/integration/setup_test.go
Labels: breaking-database

#1615 Replace the HomeDir flag with a AppDir flag
  app/app.go
  cmd/kaspaminer/config.go
  infrastructure/config/config.go
  stability-tests/application-level-garbage/config.go
  stability-tests/common/paths.go
  stability-tests/infra-level-garbage/config.go
  stability-tests/kaspadsanity/config.go
  stability-tests/minejson/config.go
  stability-tests/netsync/chain_generator/config.go
  stability-tests/netsync/config.go
  stability-tests/orphans/config.go
  stability-tests/reorg/config.go
  stability-tests/rpc-idle-clients/config.go
  stability-tests/rpc-stability/config.go
  stability-tests/simple-sync/config.go
  testing/integration/config_test.go
  testing/integration/setup_test.go
  util/appdata.go
  util/appdata_test.go
  util/internal_test.go
Labels: cli, refactoring

#1598 Implement BIP-143-like sighash
  cmd/wallet/send.go
  domain/consensus/model/externalapi/hash.go
  domain/consensus/processes/transactionvalidator/transaction_in_context.go
  domain/consensus/processes/transactionvalidator/transactionvalidator_test.go
  domain/consensus/utils/consensushashing/calculate_signature_hash.go
  domain/consensus/utils/consensushashing/calculate_signature_hash_test.go
  domain/consensus/utils/serialization/common.go
  domain/consensus/utils/txscript/engine.go
  domain/consensus/utils/txscript/engine_test.go
  domain/consensus/utils/txscript/error.go
  domain/consensus/utils/txscript/error_test.go
  domain/consensus/utils/txscript/opcode.go
  domain/consensus/utils/txscript/reference_test.go
  domain/consensus/utils/txscript/script.go
  domain/consensus/utils/txscript/sign.go
  domain/consensus/utils/txscript/sign_test.go
  domain/consensus/utils/txscript/standard.go
  testing/integration/tx_relay_test.go
  testing/integration/utxo_index_test.go
Labels: breaking-consensus

#1624 Replace ECMH with Muhash
  domain/consensus/processes/dagtraversalmanager/window_test.go
  domain/consensus/processes/pruningmanager/pruning_test.go
  domain/consensus/utils/multiset/multiset.go
  domain/dagconfig/genesis.go
  go.mod
  go.sum
Labels: breaking-consensus, breaking-database, consensus, security
